html {
    background: url(https://i.imgur.com/iSUuGy1.gif) center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: mymove 1s;
    background-color: slategrey;
}

@keyframes mymove {
    50% {background: bottom right/50px 50px;}
}

h1.title {
    text-align: right !important;
    font-size: 3rem !important;
    position: absolute;
    right: 1cm;
    margin-top: 1px;
}

body {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 5px;
    width: 200px;
    height: 150px;
    font-size: 1rem;
    animation: slide 0.5s forwards;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    float: right;
}

.user-input {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 4px;
    margin-top: 75px;
    right: 80%;
    position: relative;
    color: black;
    background-color: aliceblue;
    min-width: 300px;
    max-width: 600px;
}

input[type='number']{
    text-align: center;
}
